{% set subtitle = "Contact Us" %}

{% extends "base.html" %}

{% block content %}
<div class="grey-bg">
  <div class="set-width">
    <section id="contact">
      <header>Contact Us</header>
      <article>
        <p>
          <!--<strong>Red Letter Content</strong><br/>
          P.O. Box xyxyxyx<br/>
          Brooklyn, NY 11201<br/><br/>-->
          phone: (347) 414-7303<br/>
          email: <a href="mailto:info@redlettercontent.com">info@redlettercontent.com</a>
        </p>
      </article>
    </section>
  </div>
</div>

<div class="separator first">
  <div class="set-width">
    {% include "socialicons.html" %}
  </div>
</div>
<div class="resetfloat"></div>
{% endblock %}